@charset "UTF-8";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
/* line 4, ../neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 3, ../sass/_style.sass */
header {
  padding-top: 20px;
}

/* line 9, ../sass/_style.sass */
nav {
  display: table;
  margin: 0 auto;
}
/* line 12, ../sass/_style.sass */
nav ul {
  padding: 0;
  margin: 0;
}
/* line 15, ../sass/_style.sass */
nav li {
  display: inline;
}
/* line 18, ../sass/_style.sass */
nav a:link, nav a:visited {
  margin: 0 15px;
  color: #000000;
}
/* line 21, ../sass/_style.sass */
nav a:hover, nav a:active, nav a:focus {
  text-decoration: underline;
}

/* line 1, ../sass/_layout.sass */
main {
  margin-top: 25px;
}

/* line 4, ../sass/_layout.sass */
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../bourbon/addons/_clearfix.scss */
.container::after {
  clear: both;
  content: "";
  display: table;
}

/* line 7, ../sass/_layout.sass */
.col-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
/* line 89, ../neat/grid/_span-columns.scss */
.col-4:last-child {
  margin-right: 0;
}

/* line 10, ../sass/_layout.sass */
.col-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
/* line 89, ../neat/grid/_span-columns.scss */
.col-8:last-child {
  margin-right: 0;
}

/* line 13, ../sass/_layout.sass */
.col-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 89, ../neat/grid/_span-columns.scss */
.col-12:last-child {
  margin-right: 0;
}

/* line 16, ../sass/_layout.sass */
.v-align-wrap {
  display: table;
  width: 100%;
  height: 100%;
}

/* line 21, ../sass/_layout.sass */
.v-align-middle {
  display: table-cell;
  vertical-align: middle;
}

/* line 26, ../sass/_layout.sass */
.photo {
  text-align: center;
  width: 100%;
  height: 80%;
  margin-top: 20px;
}
/* line 30, ../sass/_layout.sass */
.photo img {
  max-width: 100%;
  max-height: 100%;
}

/* line 34, ../sass/_layout.sass */
.gallery {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../bourbon/addons/_clearfix.scss */
.gallery::after {
  clear: both;
  content: "";
  display: table;
}
/* line 36, ../sass/_layout.sass */
.gallery .gal-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-bottom: 25px;
}
/* line 89, ../neat/grid/_span-columns.scss */
.gallery .gal-item:last-child {
  margin-right: 0;
}
/* line 78, ../neat/grid/_omega.scss */
.gallery .gal-item:nth-child(3n) {
  margin-right: 0;
}
/* line 83, ../neat/grid/_omega.scss */
.gallery .gal-item:nth-child(3n+1) {
  clear: left;
}
/* line 40, ../sass/_layout.sass */
.gallery .gal-item img {
  width: 100%;
}

/* line 43, ../sass/_layout.sass */
.p-gallery {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../bourbon/addons/_clearfix.scss */
.p-gallery::after {
  clear: both;
  content: "";
  display: table;
}
/* line 45, ../sass/_layout.sass */
.p-gallery .p-gal-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-bottom: 25px;
  height: 228px;
  text-align: center;
  background: #F9F9F9;
}
/* line 89, ../neat/grid/_span-columns.scss */
.p-gallery .p-gal-item:last-child {
  margin-right: 0;
}
/* line 78, ../neat/grid/_omega.scss */
.p-gallery .p-gal-item:nth-child(3n) {
  margin-right: 0;
}
/* line 83, ../neat/grid/_omega.scss */
.p-gallery .p-gal-item:nth-child(3n+1) {
  clear: left;
}
/* line 52, ../sass/_layout.sass */
.p-gallery .p-gal-item img {
  height: 100%;
}

/* line 55, ../sass/_layout.sass */
.widget_categories {
  width: 100%;
  max-height: 1280px;
}
/* line 58, ../sass/_layout.sass */
.widget_categories ul {
  display: table;
  margin: 0 auto;
  width: auto;
}
/* line 62, ../sass/_layout.sass */
.widget_categories ul li {
  display: inline;
  padding: 0 10px;
}

/* line 66, ../sass/_layout.sass */
.video-wrap {
  width: 85%;
  margin: 0 auto;
}

/* line 70, ../sass/_layout.sass */
.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
/* line 75, ../sass/_layout.sass */
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 82, ../sass/_layout.sass */
.video-gallery {
  width: 100%;
}
/* line 84, ../sass/_layout.sass */
.video-gallery img {
  width: 100%;
}
/* line 86, ../sass/_layout.sass */
.video-gallery span {
  clear: both;
  line-height: 2.5;
}

/* line 90, ../sass/_layout.sass */
.development {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #CCCCCC;
  margin-top: 25px;
  height: auto;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../bourbon/addons/_clearfix.scss */
.development::after {
  clear: both;
  content: "";
  display: table;
}
/* line 97, ../sass/_layout.sass */
.development:last-child {
  border-bottom: 0;
}
/* line 100, ../sass/_layout.sass */
.development .poster img {
  width: 100%;
}
/* line 102, ../sass/_layout.sass */
.development .trailer {
  margin-bottom: 20px;
}

/* line 106, ../sass/_layout.sass */
.wrap {
  display: table;
  vertical-align: bottom;
  height: inherit;
}

/* line 110, ../sass/_layout.sass */
.bottom {
  display: table-cell;
  vertical-align: bottom;
}

/* line 1, ../sass/_typography.sass */
body {
  font-family: "adobe-caslon-pro", serif;
  color: #000000;
  font-weight: normal;
}

/* line 6, ../sass/_typography.sass */
h1, h2, h3, h4 {
  font-weight: normal;
}

/* line 10, ../sass/_typography.sass */
a:link, a:visited {
  color: #333333;
  text-decoration: none;
}

/* line 14, ../sass/_typography.sass */
ul, li {
  list-style: none;
}

/* line 18, ../sass/_typography.sass */
#brand {
  text-align: center;
}
/* line 22, ../sass/_typography.sass */
#brand h1 a:link, #brand h1 a:visited {
  text-decoration: none;
  font-size: 26px;
  font-weight: normal;
}

/* line 28, ../sass/_typography.sass */
.home {
  text-align: center;
}

/* line 31, ../sass/_typography.sass */
.widgettitle {
  display: none;
}

/* line 35, ../sass/_typography.sass */
.development h1 {
  font-size: 24px;
  line-heigth: 2;
}
/* line 39, ../sass/_typography.sass */
.development .trailer {
  width: 100%;
  iframe: 100%;
}

/* line 1, ../sass/_store.sass */
.bc-plugin-products {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
/* line 20, ../bourbon/addons/_clearfix.scss */
.bc-plugin-products::after {
  clear: both;
  content: "";
  display: table;
}
/* line 4, ../sass/_store.sass */
.bc-plugin-products .product {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
}
/* line 89, ../neat/grid/_span-columns.scss */
.bc-plugin-products .product:last-child {
  margin-right: 0;
}
/* line 78, ../neat/grid/_omega.scss */
.bc-plugin-products .product:nth-child(3n) {
  margin-right: 0;
}
/* line 83, ../neat/grid/_omega.scss */
.bc-plugin-products .product:nth-child(3n+1) {
  clear: left;
}
/* line 10, ../sass/_store.sass */
.bc-plugin-products .product:before {
  font-family: fontAwesome;
  content: "";
  color: black;
  position: absolute;
  top: 15px;
  left: 25px;
  font-size: 20px;
  opacity: 0;
  transition: all ease 0.5s;
}
/* line 21, ../sass/_store.sass */
.bc-plugin-products .product:hover:before, .bc-plugin-products .product:active:before, .bc-plugin-products .product:focus:before {
  opacity: 1;
}
/* line 24, ../sass/_store.sass */
.bc-plugin-products .bc-plugin-title {
  text-align: center;
  clear: both;
}
