@import url(http://fonts.googleapis.com/css?family=EB+Garamond)

body
    font-family: $font-stack
    color: #000000

a
    &:link, &:visited
        color: #333333
        text-decoration: none

ul, li
    list-style: none


#brand
    text-align: center
    h1
        a
            &:link, &:visited
                text-decoration: none
                font-size: 26px


.home
    text-align: center

.widgettitle
    display: none
